*{
  box-sizing:border-box;
}
html{
  height:100%;
  overflow-x:hidden;
  /* position:fixed;
  top:0;left:0;bottom:0;right:0; */
  /* font-size:13px; */
}

body{
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  height:100%;
  display:flex;
  /* for responsive alignment and layout. Check out bootstrap, a css library that 
  bases alignment on 12 columns. */
  align-items:center;
  justify-content:center;
  background: linear-gradient(145deg, #ff7e5f, #feb47b); color:black;
}

.main-title{
  font-size:16px;
  /* will apply to just this class */
}

header{
  /* will applystyle to every single element on a page */
  /* position:absolute; */
  top:0;
  /* you can use top left right and bottom only if you have position:absolute */
  left:0;
  width:100vw;
  height: 4rem;
  /* it's ^ to make it more responsive rather than adjust in padding */
  border-bottom:1px solid white;
  color: #eb5b38;
  padding: 0px 10px;
  /* top right bottom left for 4^*/
  /* top right+left bottom for 3 */
  background:rgba(255, 255, 255, 0.5);
  display:flex;
  align-items:center;
  /* vertical align!!!! yay for flex
  YOU CAN'T use align without FLEX */
  font-size: 1.8rem;
}

.logo{
  height:32px;
  /* you usually ALWAYS want to use classes, but in this case it's just me working on it 
  so it's okay for now */
  margin-right: 10px;
}

.text-input{
  position:absolute;
  padding: 0 5px;
  /* 0 top and bottom, 5 left and right */
  bottom:0px;
  left:0px;
  width:100%;
  height:50px;
  border:none;
  border-top:1px solid white;
  background:rgba(255, 255, 255, 0.2);
  display: flex;
  align-items:center;
}

.input-field{
  width: 90%;
  position:absolute;
  left:50px;
  height: 80%;
  border-radius: 15px;
}

.input-field:focus{
  box-shadow: 0 0 0 1pt blue;
  outline:none;
}

.button{
  position:absolute;
  cursor:pointer;
  right:0;
  height:32px;
  border-radius:4px;
  border: 1px solid white;
  background: #ff7e5f;
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.button:focus{
  outline:none;
  border: 1px solid black;
}

.button:disabled{
  background: grey;
  position:absolute;
  cursor:pointer;
  right:0;
  height:32px;
  border-radius:4px;
  border: 1px solid white;
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.messages{
  height:calc(100% - 8rem); 
  /* 96px = height of the header and footer */
  width: 100vw;
  position: absolute;
  left: 0px;
  /* ^makes a difference on mobile Safari */
  display:flex;
  flex-direction: column-reverse;
  /* makes the messages show up in reverse */
  overflow-y: auto;
  /* if there is anything that overflows, put a scrollbar vertically */
}

.message-wrap{
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.message-wrap[from="me"]{
  justify-content: flex-end;
}

.message{
  position:relative;
  margin-top: 10px;
}

.msg-text{
  color: #727272;
  background: white;
  margin: 6px;
  border-radius: 4px;
  padding: 3px 6px;
  /* font-size: 14px; */
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.msg-name{
  font-size: 11px;
  /* top: -9px; */
  margin: 6px;
  font-size: 12px;
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.edit-username{
  display: flex;
  align-items: center;
  position:absolute;
  right: 24px;
  font-size: 14px;
}

.name-button{
  height:29px;
  margin:0 6px;
  background:transparent;
  color:white;
  font-size:18px;
  padding:4px;
  cursor: pointer;
  border:none;
  outline:none;
  border-radius: 4px;
}

.name-button:hover{
  background:rgba(255,255,255,0.1)
}

.name-input{
  color: #eb5b38;
  height:32px;
  border:1px solid white;
  border-radius:14px;
  padding-left:12px;
  background:rgba(255, 255, 255, 0.2);
  display:flex;
  align-items:center;
  padding-bottom:2px;
  font-size:12px;
  outline:none;
}

.username{
  display: flex;
  align-items: center;
  margin-right:12px;
  font-size:1.1rem;
}

